# IntelliJ IDEA
.idea/
*.iml
*.iws

# Eclipse
.project
.classpath
.settings/
.factorypath

# VS Code
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Build tools
target/
**/target/
build/
bin/
dist/
out-tsc/
tmp/
bazel-out/
.mvn/wrapper/maven-wrapper.jar

# Logs
*.log
logs/
libpeerconnection.log
testem.log
npm-debug.log
yarn-error.log

# Compiled Java and packages
*.class
*.jar
*.war
*.ear

# Spring Boot
restart.lock

# Node
node_modules/

# Angular
.angular/cache/
.typings
coverage/
connect.lock

# Sass
.sass-cache/

# Miscellaneous
*.tmp
*.temp
*~
.DS_Store
Thumbs.db
.env
.history/
.c9/
*.launch
*.sublime-workspace
