.main-content {
  margin: 40px auto;
  padding: 20px;
  background-color: #f4f4f4;
}

.account-details {
  font-family: Arial, sans-serif;
  max-width: 600px;
  margin: 20px auto;
  padding: 30px 40px;
  color: #c36a2d;
  background-color: #eadca6;
  border-radius: 8px;
  border: 1px solid #c36a2d;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.account-details:hover {
  box-shadow: 0 12px 28px rgba(0, 0, 0, 0.12);
}

h1 {
  font-size: 36px;
  margin: 30px 0;
}

p {
  font-size: 22px;
  text-align: start;
}
