.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  align-items: center;
}

.spacer {
  flex: 1 1 auto;
}

.main-content {
  padding: 16px;
  padding-top: 64px;
}
