<mat-toolbar color="primary" class="navbar" fixedTop>
  <span class="logo">Random Dogs</span>

  <span class="spacer"></span>

  <a
    mat-button
    routerLink="/"
    routerLinkActive="active-link"
    [routerLinkActiveOptions]="{ exact: true }"
    >Home</a
  >
  <a mat-button routerLink="/about" routerLinkActive="active-link">About</a>

  <span class="spacer"></span>

  <div class="icon-group">
    <button
      mat-icon-button
      [routerLink]="'/account'"
      routerLinkActive="active-icon"
      aria-label="Account"
      *appAuthOnly="isLoggedIn()"
    >
      <mat-icon>account_circle</mat-icon>
    </button>

    @if (isLoggedIn()) {
      <button
        mat-icon-button
        (click)="logout()"
        routerLinkActive="active-icon"
        aria-label="Login/Logout"
      >
        <mat-icon>logout</mat-icon>
      </button>
    } @else {
      <button
        mat-icon-button
        [routerLink]="'/login'"
        routerLinkActive="active-icon"
        aria-label="Login/Logout"
      >
        <mat-icon>login</mat-icon>
      </button>
    }

    <button
      mat-icon-button
      [routerLink]="'/settings'"
      routerLinkActive="active-icon"
      aria-label="Settings"
    >
      <mat-icon>settings</mat-icon>
    </button>
  </div>
</mat-toolbar>

<div class="main-content">
  <ng-content></ng-content>
</div>
