<app-navbar></app-navbar>

<main class="main-content">
  <router-outlet></router-outlet>
  <form novalidate class="loginForm" [formGroup]="loginFormGroup" (ngSubmit)="onFormSubmit()">
    <h1>Log in</h1>

    <label for="email"> Email </label>
    <input type="email" id="email" placeholder="example@gmail.com" formControlName="email" />

    @if (isFormControlInvalid(email)) {
      @if (email.errors?.['required']) {
        <small class="text-error">Email is required.</small>
      }
      @if (email.errors?.['email']) {
        <small class="text-error">Enter a valid email address.</small>
      }
    }

    <label for="username"> Username </label>
    <input type="text" id="username" placeholder="user.example" formControlName="username" />

    @if (isFormControlInvalid(username)) {
      @if (username.errors?.['required']) {
        <small class="text-error">Username is required.</small>
      }
    }

    <label for="password"> Password </label>
    <input type="password" id="password" placeholder="example123" formControlName="password" />

    @if (isFormControlInvalid(password)) {
      <div>
        @if (password.errors?.['required']) {
          <small class="text-error">Password is required.</small>
        }
        @if (password.errors?.['minlength']) {
          <small class="text-error">
            Password must be at least
            {{ password.errors?.['minlength'].requiredLength }} characters (currently
            {{ password.errors?.['minlength'].actualLength }}).
          </small>
        }
      </div>
    }

    @if (loginError()) {
      <small class="text-error">{{ loginError() }}</small>
    }

    <button type="submit"> {{ 'Log in' | capitalize }} </button>
  </form>
</main>
