<app-navbar></app-navbar>

<main class="main-content">
  <article class="description">
    <h1>About Random Dogs</h1>
    <p>
      Random Dogs is a lightweight and interactive Angular application designed to showcase random dog
      images with the click of a button. This project serves as a practical demonstration of core Angular
      concepts, including components, routing, services, pipes, and directives. The application fetches images
      dynamically from the public Dog CEO API  and presents them in
      a clean, responsive UI. Users can request new images on demand, making it an engaging way to explore
      Angular’s reactive programming model using signals and HTTP client services. The app also implements route
      guards to restrict access to certain features unless the user is authenticated, highlighting Angular’s
      built-in security capabilities. Additionally, custom pipes and directives are used to enrich the display
      logic and enforce access control at the template level. Overall, Random Dogs is a beginner-friendly yet
      feature-rich Angular app that demonstrates how to build real-world applications using modular and
      maintainable code practices.
    </p>
  </article>
</main>
