body {
  background-color: #d6d4e0;
}

.main-content {
  font-family: Arial, sans-serif;
}

.description {
  font-size: 22px;
  color: #622569;
  background-color: #b8a9c9;
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid #622569;
  margin: 20px;
  text-align: justify;
}

h1 {
  font-size: 36px;
  color: #622569;
  margin-bottom: 20px;
}
