.main-content {
  margin: 40px auto;
  padding: 20px;
  background-color: #f4f4f4;
}

h1 {
  font-size: 40px;
  margin-bottom: 24px;
  text-align: center;
  letter-spacing: 1px;
}

.description {
  font-size: 20px;
  color: #c36a2d;
  background-color: #eadca6;
  padding: 16px 24px;
  border-radius: 8px;
  border: 1px solid #c36a2d;
  margin: 20px 0;
  text-align: justify;
  line-height: 1.6;
  transition: background-color 0.3s ease;

  &:hover {
    color: #f4f4f4;
    background-color: #c36a2d;
  }
}
