.main-content {
  margin: 40px auto;
  padding: 20px;
  background-color: #f4f4f4;
}

.gallery {
  font-family: Arial, sans-serif;
  max-width: 600px;
  margin: 20px auto;
  padding: 30px 40px;
  color: #c36a2d;
  background-color: #eadca6;
  border-radius: 8px;
  border: 1px solid #c36a2d;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.gallery:hover {
  box-shadow: 0 12px 28px rgba(0, 0, 0, 0.12);
}

h1 {
  font-size: 36px;
  margin: 30px 0;
}

button {
  font-size: 22px;
  font-weight: bold;
  padding: 10px 20px;
  align-self: center;
  cursor: pointer;
  background-color: #c36a2d !important;
  color: #f4f4f4 !important;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #a6531e;
  transform: translateY(-2px);
}

.dogImage {
  margin-top: 20px;
  max-width: 500px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  align-self: center;
}

.message {
  margin-top: 20px;
  font-style: italic;
  color: #555;
}

.error {
  color: red;
  margin-top: 10px;
}
